.landing-header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }

  &__logo {
    height: 36px;
    width: 150px;
  }
}

.hero {
  text-align: center;
  padding-block: 80px;
  background-color: #f5eee5;
  margin: auto;

  &__intro {
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__title {
    color: transparent;
    background-clip: text;
    background-color: black;
    font-size: 40px;
    max-width: 900px;
    font-weight: 600;
    line-height: 1.2;
    margin: auto;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      font-size: 70px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.75rem;
    max-width: 600px;
    margin: auto;
    margin-bottom: 54px;

    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }
}

.button-get-started {
  background-color: #5417b7;
  border: 1px solid #5417b7;
  width: 200px;
  opacity: 1;
  border-radius: 10px;
  padding: 15px;
  color: white;
  display: block;
  margin: auto;

  &:hover {
    background-color: #5700e8;
  }

  @media (min-width: $tablet) {
    width: 300px;
    padding: 18px;
  }
}
.container {
  width: 100%;
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 40px;

  @media (min-width: $tablet) {
    padding: 80px;
  }

  &__title {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }

  &__desc {
    font-size: 20px;
    color: white;
    font-weight: 200;
    margin-bottom: 60px;
    line-height: 1.75rem;

    @media (min-width: $tablet) {
      font-size: 24px;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: white;
}

.feature {
  display: flex;
  flex-direction: column;

  &__icon {
    font-size: 40px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      font-size: 60px;
    }
  }
  &__desc {
    font-size: 16px;
    font-weight: 400;

    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }
}

.landing-footer {
  text-align: center;
  height: 72px;
  text-align: center;
  padding: 20px;
}

.landing__wrapper {
  margin: auto;
  max-width: 1280px;
}

.preview {
  background-color: #fafafa;
  padding-inline: 50px;

  .landing__wrapper {
    grid-template-columns: 1fr;
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &-box {
    order: 2;
    @media (min-width: $tablet) {
      order: 0;
    }
  }
  &-image {
    display: block;
    margin: 40px 0 0 40px;
    width: 400px;
    @media (min-width: $small-desktop) {
      width: 600px;
    }
  }
  &-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    @media (min-width: $tablet) {
      margin-top: 0;
      margin-bottom: 30px;
      text-align: start;
    }
  }
  &-text {
    order: 1;
  }
  &-desc {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    @media (min-width: $tablet) {
      text-align: start;
    }
  }
}
