.share-modal {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  max-width: 80%;
  top: 50%;
  left: 50%;

  &__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__close {
    background-color: #5417b7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 90%;
    line-height: 32px;

    &-icon {
      color: white;
    }
  }
  &__title {
    margin-block: 40px;
    font-size: 20px;
  }
  &__desc {
    margin-bottom: 40px;
  }
  &__link {
    margin-bottom: 40px;
  }
  &__input {
    width: 600px;
    border-radius: 8px;
    background-color: var(--search-background);
    padding-block: 10px;
    max-width: 300px;
    padding-left: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      max-width: 800px;
    }
  }
  &__button {
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid #d1d1d6;
    width: 120px;
    padding: 12px;

    &:hover {
      background-color: #efefef;
    }
  }
}
