* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}
input {
  color: inherit;
  border: none;
  font-size: inherit;
}

a {
  text-decoration: none;
}
