$tablet: 798px;
$desktop: 1200px;

:root {
  --field-background: #fff;
  --field-border: #ccc;
  --sidebar-background: #e5e5ea;
  --search-background: #d1d1d6;
  --list-active-background: #d1d1d6;

  @media (prefers-color-scheme: dark) {
    --field-background: #303134;
    --field-border: #303134;
  }
}
