@import "core/reset";
@import "core/variables";
@import "core/utils";
@import "core/layout";
@import "components/Button.scss";
@import "components/SideBar.scss";
@import "components/Lists.scss";
@import "components/AddTaskForm.scss";
@import "components/Task.scss";
@import "components/TaskList.scss";
@import "components/EmptyState.scss";
@import "components/CreateList.scss";
@import "components/ShareModal.scss";
@import "components/ListItem.scss";
@import "components/LandingPage.scss";
@import "components/Features.scss";
@import "components/Banner.scss";

body {
  color: #1f2c33;
  background-color: #fff;
  font-family: "Inter", sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: white;
  }
}
